.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

p {
  margin-bottom: 10px;
}

.body {
  margin-top: -3px;
  margin-bottom: -3px;
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 1.5;
}

.container {
  display: block;
  max-width: 100%;
  margin-top: auto;
  margin-right: 45px;
  margin-left: 111px;
  padding-top: 28px;
  padding-bottom: 13px;
  padding-left: 0px;
  text-align: center;
}

.heading {
  font-family: Ubuntu, Helvetica, sans-serif;
  font-weight: 300;
}

.text-block {
  font-family: Oswald, sans-serif;
  color: rgba(51, 51, 51, 0.84);
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.image {
  max-width: 10%;
}

.nav-link {
  margin-right: 0px;
  padding-right: 24px;
  padding-left: 24px;
  font-family: 'Varela Round', sans-serif;
  white-space: normal;
}

.nav-link.nav-button {
  margin-left: 10px;
  padding-left: 25px;
  border: 1px solid #000;
  border-radius: 12px;
  background-color: #f1f1f1;
}

.nav-link.nav-button.navy {
  background-color: #f1f1f1;
}

.nav-link-2 {
  font-family: 'Varela Round', sans-serif;
}

.nav-link-3 {
  font-family: 'Varela Round', sans-serif;
}

.section {
  margin-top: 41px;
}

.heading-2 {
  padding-left: 0px;
  font-family: Varela, sans-serif;
  font-size: 28px;
}

.heading-3 {
  margin-top: 0px;
  border-radius: 4px;
  background-color: rgba(64, 64, 64, 0.1);
  opacity: 1;
  font-family: Varela, sans-serif;
  font-size: 22px;
  text-align: center;
  text-decoration: underline;
}

.collection-list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.collection-item {
  display: -ms-grid;
  display: grid;
  margin-top: 38px;
  justify-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 63px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-bottom: 1px solid #000;
  background-color: transparent;
}

.link {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

.link-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #000b85;
}

.div-block {
  background-color: transparent;
}

.rich-text-block {
  margin-top: 31px;
}

.div-block-2 {
  margin-right: 92px;
  margin-left: 92px;
}

.field-label {
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
}

.heading-4 {
  padding-bottom: 0px;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
  margin-right: 157px;
  margin-left: 157px;
  padding: 9px 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 14px;
}

.grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.submit-button {
  margin-top: 6px;
  border-radius: 8px;
  background-color: rgba(34, 18, 74, 0.85);
  text-align: left;
}

.form {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.heading-5 {
  margin-top: -9px;
  margin-bottom: -2px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
  color: #d3d0d0;
  font-weight: 400;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-6 {
  margin-top: -1px;
  color: #c9c9c9;
  font-weight: 400;
  text-align: center;
}

.grid-2 {
  margin-top: 31px;
  margin-right: 154px;
  margin-left: 154px;
  padding-top: 0px;
  padding-left: 0px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  justify-items: center;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-align-content: start;
  -ms-flex-line-pack: start;
  align-content: start;
  grid-auto-flow: row;
  grid-column-gap: 0px;
  -ms-grid-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button {
  max-width: 90px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 9px;
  background-color: transparent;
  opacity: 0.86;
  color: #e0e0e0;
  font-size: 13px;
  text-align: center;
}

.section-2 {
  margin-top: 38px;
  margin-bottom: 0px;
  padding-top: 19px;
  padding-bottom: 16px;
  background-color: rgba(34, 18, 74, 0.76);
}

.image-2 {
  width: 100%;
  height: 100%;
  margin-left: 28px;
}

.collection-list {
  margin-left: 94px;
  padding-right: 76px;
}

.paragraph {
  font-size: 16px;
}

.div-block-4 {
  margin-right: 143px;
  margin-left: 143px;
}

.secondary {
  font-family: 'PT Sans', sans-serif;
  color: #707070;
  font-size: 20px;
}

.image-4 {
  width: 100%;
  height: 200px;
  max-height: none;
  max-width: 100%;
  margin-top: 19px;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid-3 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.project-label {
  padding-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: normal;
}

.project-info {
  margin-bottom: 43px;
  color: #535353;
}

.project-description {
  color: #090909;
}

.project-description p {
  color: #525252;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.bold-text {
  font-size: 33px;
  font-weight: 300;
}

.grid-4 {
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.div-block-5 {
  margin-right: 44px;
  margin-left: 44px;
}

.heading-7 {
  margin-top: 39px;
  margin-bottom: 50px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
}

.heading-7.offerings {
  margin-left: -64px;
}

.grid-5 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image-5 {
  max-width: 30%;
}

.grid-6 {
  margin-top: 21px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-8 {
  color: #4e4c4c;
}

.paragraph-2 {
  color: #575757;
}

.image-6 {
  max-width: 100%;
}

.paragraph-3 {
  display: inline-block;
  margin-left: 6px;
  color: rgba(9, 0, 31, 0.68);
  text-decoration: underline;
}

.rich-text-block-2 {
  color: rgba(51, 51, 51, 0.85);
}

.div-block-6 {
  margin-left: 36px;
}

.grid-7 {
  margin-right: 66px;
  margin-left: 66px;
  grid-column-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 2px;
}

.div-block-7 {
  border-radius: 0px;
  background-color: #545454;
  font-size: 18px;
}

.div-block-8 {
  border: 1px solid #000;
  background-color: #d9d9d9;
  font-size: 18px;
}

.heading-9 {
  margin-left: 32px;
  color: #c0b6b6;
}

.heading-9.white {
  color: #c0b6b6;
  font-size: 20px;
}

.heading-9.dark {
  color: #3f3a3a;
  font-size: 20px;
}

.rich-text-block-3 {
  color: #c0b6b6;
}

.rich-text-block-4 {
  color: #3f3a3a;
}

.grid-8 {
  -ms-grid-columns: 1fr 0.25fr;
  grid-template-columns: 1fr 0.25fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.div-block-9 {
  margin-right: 62px;
  margin-left: 62px;
}

.heading-10 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: rgba(51, 51, 51, 0.77);
  font-size: 45px;
  font-weight: 400;
}

.text-block-3 {
  font-size: 40px;
}

.text-block-4 {
  color: #8d8b8b;
  font-size: 30px;
}

.paragraph-4 {
  margin-top: 16px;
  margin-left: 64px;
  color: rgba(51, 51, 51, 0.72);
  font-size: 20px;
}

.grid-9 {
  grid-template-areas: "Area Area-4"
    "Area-2 Area-6"
    "Area-3 Area-5";
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.image-7 {
  display: inline-block;
  max-height: 80px;
  max-width: 80%;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 1px;
  text-align: left;
}

.heading-11 {
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #504d4d;
}

.text-block-5 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.paragraph-5 {
  line-height: 1.5;
}

.paragraph-6 {
  font-family: Verdana, Geneva, sans-serif;
}

.italic-text {
  font-family: 'Droid Sans', sans-serif;
}

.text-block-6 {
  display: inline-block;
  margin-left: 12px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #062383;
  text-decoration: underline;
}

.link-block {
  display: inline-block;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -o-object-fit: contain;
  object-fit: contain;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-7 {
  margin-right: 276px;
  margin-bottom: 68px;
  margin-left: 276px;
  padding-top: 13px;
  padding-left: 0px;
}

.div-block-10 {
  margin-top: 35px;
  margin-bottom: -11px;
}

.navbar {
  padding-bottom: 16px;
}

.grid-10 {
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.image-8 {
  display: inline-block;
  margin-left: 5px;
  text-align: left;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 19px;
  margin-left: 47px;
}

.section-5 {
  display: inline-block;
}

.italic-text-2 {
  font-family: Verdana, Geneva, sans-serif;
}

.column {
  text-align: left;
}

.column-2 {
  text-align: right;
}

.columns {
  margin: 28px 54px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 0px;
  }

  .heading {
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 28px;
    text-align: left;
  }

  .nav-link {
    padding-top: 18px;
  }

  .nav-link.nav-button {
    border-radius: 12px;
    background-color: #f1f1f1;
  }

  .nav-link.nav-button.navy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    border-radius: 12px;
    background-color: #f1f1f1;
    text-align: center;
  }

  .rich-text-block {
    margin-left: 5px;
    padding-left: 0px;
  }

  .form-block {
    max-width: 100%;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -o-object-fit: fill;
    object-fit: fill;
  }

  .text-inline-block {
    display: inline-block;
    margin-right: 7px;
    color: #181717;
    text-decoration: underline;
  }

  .text-block-2 {
    padding-bottom: 50px;
    color: #5e5b5b;
  }

  .div-block-5 {
    margin-right: 30px;
    margin-left: 30px;
  }

  .heading-7 {
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .heading-10 {
    font-size: 30px;
  }

  .grid-9 {
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
  }

  .div-block-11 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .columns {
    margin: 13px 45px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 3px;
  }

  .heading {
    margin-top: 12px;
    margin-left: 21px;
    font-size: 20px;
    line-height: 30px;
  }

  .image {
    display: inline-block;
  }

  .paragraph {
    font-size: 14px;
  }

  .heading-7 {
    margin-top: -3px;
    margin-bottom: -3px;
    border-radius: 20px;
    background-color: transparent;
    font-size: 30px;
    text-align: center;
  }

  .heading-7.offerings {
    margin-left: 0px;
  }

  .mainheader {
    font-size: 20px;
    text-align: left;
  }

  .grid-7 {
    margin-right: 22px;
    margin-left: 22px;
  }

  .heading-10 {
    font-size: 20px;
  }

  .grid-9 {
    grid-auto-flow: row;
    grid-template-areas: "Area Area-4"
      "Area-2 Area-6"
      "Area-3 Area-5";
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
  }

  .link-block {
    display: inline;
    width: auto;
    height: auto;
    min-height: 10px;
    min-width: 10px;
    background-image: none;
  }

  .text-span {
    font-size: 16px;
    line-height: 20px;
  }

  .navbar {
    margin-bottom: 0px;
    padding-bottom: 21px;
  }

  .grid-10 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .bold-text-2 {
    font-size: 20px;
  }

  .bold-text-3 {
    font-size: 20px;
  }

  .bold-text-4 {
    font-size: 20px;
  }

  .bold-text-5 {
    font-size: 20px;
  }

  .image-8 {
    display: inline-block;
  }

  .italic-text-2.mainheader {
    font-size: 20px;
  }

  .columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 18px 38px -6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: 100%;
    padding-left: 0px;
  }

  .heading {
    max-width: none;
    min-width: auto;
    margin-top: 0px;
    margin-left: 18px;
    padding-left: 0px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
  }

  .text-block {
    margin-left: -69px;
  }

  .image {
    max-width: 75em;
  }

  .section {
    margin-top: -1px;
  }

  .heading-2 {
    min-width: 80%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .heading-3 {
    max-width: 120%;
    margin-top: 1px;
    margin-left: 21px;
    padding-right: 27px;
    padding-left: 27px;
  }

  .collection-list-wrapper {
    min-width: 100%;
    margin-right: 1px;
    margin-left: 1px;
    padding-right: 31px;
    padding-left: 31px;
  }

  .collection-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .link-2 {
    margin-top: 9px;
  }

  .div-block-2 {
    max-height: 1px;
  }

  .form-block {
    margin-top: 27px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .submit-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }

  .grid-2 {
    display: -ms-grid;
    display: grid;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .button {
    margin-top: -19px;
    padding-bottom: 0px;
    font-weight: 700;
  }

  .section-2 {
    display: block;
    margin-top: 31px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .collection-list {
    min-width: 100%;
  }

  .paragraph {
    margin-bottom: 1px;
    padding-right: 28px;
    padding-left: 28px;
  }

  .section-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-4 {
    margin-right: 24px;
    margin-left: 24px;
  }

  .image-3 {
    margin-left: 18px;
  }

  .icon {
    max-width: 24em;
  }

  .heading-7 {
    margin-top: 7px;
    margin-bottom: 7px;
    background-color: transparent;
    font-size: 20px;
  }

  .grid-7 {
    margin-right: -1px;
    margin-left: -1px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-8 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .paragraph-4 {
    margin-left: 0px;
  }

  .link-block {
    margin-left: -40px;
    background-image: none;
  }

  .menu-button {
    margin-right: -50px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .image-8 {
    min-height: 60px;
    min-width: 60px;
  }

  .div-block-12 {
    display: inline-block;
    margin-left: 86px;
  }

  .section-5 {
    max-width: 100%;
  }

  .columns {
    margin-right: 59px;
    margin-left: 59px;
  }

  .image-9 {
    display: inline-block;
    -o-object-fit: contain;
    object-fit: contain;
  }
}

#w-node-_5bdb96c6-2f7b-1fbc-3e13-da5c3356a20b-d22ce5c1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_795a826f-0064-b530-9702-2c6c0eae2796-d22ce5c1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_8ea3f27b-defb-9e02-37e8-e600551533b0-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d10ffb7c-74c1-2544-09d7-4fdac7b777f6-d22ce5c1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-c6ed93e0-6ccc-0854-0b06-6f561fa7dd83-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-f97fdb5f-9448-0ca9-5c46-029f8798f615-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9890e4f3-5651-8580-302b-4b9868d44e60-d22ce5c1 {
  -ms-grid-column-align: auto;
  justify-self: auto;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_30e65474-feff-ba74-a23f-6287393a3627-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_61ae14fa-808b-554c-3baf-6aa7aa99abfc-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_92457b91-01d0-58ee-64b1-d18716b93dc8-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cc852c2f-7013-e953-cc43-cdb7d1738d0c-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_3e7f9873-8cba-545d-5d02-1e628a54d622-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b70757f5-4830-f2f8-166a-81421098a1e4-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b7957a65-3533-54bd-bcc1-f0d87e5b6ce3-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_89d8acdd-6557-1b0d-5f1f-8763dd7306fa-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0fe158c2-2a1f-1aa6-39c9-a8241e488d2b-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5ec4b7cf-5e14-0f50-1476-83c1bda260a7-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_534f001f-2918-57ad-1095-9398431cca9c-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_48c3fb68-3e1e-04c2-c4f8-b938af87dc64-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7e3f44cc-2674-831b-ea2b-db0310839ea2-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7f41b633-a550-709d-7030-017ec02cfc8a-d22ce5c1 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0c19c99f-08e2-8d69-7681-9c45704b3568-704b3557 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}

#w-node-_93efee2c-f808-a548-190e-f9aa255743a1-447a12a2 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

@media screen and (max-width: 991px) {
  #w-node-c246f138-0355-2358-9b2d-464280f66525-447a12a2 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_7e394284-8ba3-68b8-192f-ac49843ac5a0-447a12a2 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d82d6edd-486c-76e6-3b7d-b085097d02a5-447a12a2 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-b565c019-06e7-de3d-5a6e-e050952935f8-447a12a2 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_5bdb96c6-2f7b-1fbc-3e13-da5c3356a20b-d22ce5c1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-_795a826f-0064-b530-9702-2c6c0eae2796-d22ce5c1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: Area;
  }

  @media screen and (max-width: 767px) {
    #w-node-_795a826f-0064-b530-9702-2c6c0eae2796-d22ce5c1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }

    #w-node-_795a826f-0064-b530-9702-2c6c0eae2796-d22ce5c1 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
  }

  #w-node-_5173ade8-68c3-4e54-e656-f5501749af56-d22ce5c1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }

  #w-node-d10ffb7c-74c1-2544-09d7-4fdac7b777f6-d22ce5c1 {
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_0c19c99f-08e2-8d69-7681-9c45704b3568-704b3557 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
  }
}